.App {
  text-align: center;
}
.grid__board {
  background: #ad9d8f;
  width: max-content;
  margin: auto;
  padding: 5;
  border-radius: 5;
  margin-top: 5;
}

.num__block {
  height: 80;
  width: 80;
  background: 'lightgray';
  margin: 3;
  display: flex;
}
